@using System.Data
@{
    ViewData["Title"] = "Export Risks";
    var columnsJson = ViewData["Columns"];
    var dataJson = ViewData["Data"];
    var ColumnsToShow = ViewData["ColumnsToShow"];
    var ColumnsToHide = ViewData["ColumnsToHide"];
    var ColumnsToView = ViewData["ViewEntities"];
    var IdentificationCategory = ViewData["IdentificationCategory"];
    var SourceCategory = ViewData["SourceCategory"];
    var ActionsCategory = ViewData["ActionsCategory"] ;
    var ControlsCategory = ViewData["ControlsCategory"];
    var ImpactCategory = ViewData["ImpactCategory"];
}

<form id="frmRiskRegisters" asp-action="Index" method="post">
    <h2>Risks - Export</h2>

    <div>
        <div id="sltIdentification"></div>
        <div id="sltSource"></div>
        <div id="sltImpact"></div>
        <div id="sltActions"></div>
        <div id="sltControls"></div>
    </div>

    <div>
        <div id="sltView"></div>
        <input type="hidden" id="hfViewName" name="hfViewName" />
        <input id="txtViewName" type="text" name="viewname" />

        <button id="btnSave" class="btn-Save">Save/Edit View</button>
        <button id="btnDelete" class="btn-Delete">Delete View</button>
        <button id="btnExportExcel" class="btn-Save">Export To Excel</button>
    </div>

    <table id="grid"></table>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var selected = '@ViewData["ViewName"]';
        if (selected) {
            $("#sltView").igCombo("value", selected);
        }
    });

    $(function () {
        var ColumnsToShowInDropdown = @Html.Raw(ColumnsToShow);        
        var ColumnsToViewInDropdown = @Html.Raw(ColumnsToView);
        var colsToHideStr = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ColumnsToHide));

        //Populate View Dropdown
        $("#sltView").igCombo({
            dataSource: ColumnsToViewInDropdown,
            width: "250px",
            textKey: "Title",
            valueKey: "ID",
            filteringType: "local",
            filteringCondition: "contains",
            highlightMatchesMode: "contains",
            dropDownOrientation: "bottom",
            dropDownOnFocus: true,
            locale: {
                placeHolder: "Select View"
            },
            selectionChanged: function(evt, ui) {
                var viewname = ui.owner.value();

                if (viewname != "") {
                    $("#hfViewName").val(viewname);
                    $("#frmRiskRegisters").submit();
                }
            }
        });




        //Populate Grid
        var columns = @Html.Raw(columnsJson);
        var data = @Html.Raw(dataJson);
        $("#grid").igGrid({
            width: "100%",
            height: "500px",
            autoGenerateColumns: false,
            columns: columns,
            dataSource: data,
            defaultColumnWidth : 200,
            fixedHeaders: true,
            scrollSettings: {
                smoothing: true,
            },
            features: [
                { name: "Sorting", type: "local" },
                { name: "Filtering", type: "local" },
                { name: "Paging", type: "local", pageSize: 50, pageSizeList: [50, 75, 100, 150, 200, "All"] },
                { name: "ColumnMoving" },
                { name: "Resizing" },
                { name: "Hiding" },
            ],
            dataRendered: function(evt, ui) {               
                if(colsToHideStr != "[]") {
                    var colsToHide = JSON.parse(colsToHideStr);
                    $.each(colsToHide, function(index, value) {
                        $("#grid").igGridHiding("hideColumn", value);
                    });
                }
            }
        });


        var IdentificationCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(IdentificationCategory));
        var SourceCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(SourceCategory));
        var ImpactCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ImpactCategory));
        var ActionsCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ActionsCategory));
        var ControlsCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ControlsCategory));
        var mandatoryColumns = IdentificationCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
        
        let selectedValuesIdentification = [];
        let isIdentificationChanged = false;
        let suppressIdentificationSelectionChange = false;
        //Populate Identification Combobox
        $("#sltIdentification").igCombo({
            dataSource: IdentificationCategory,
            width: "250px",
            textKey: "Title",
            valueKey: "Title",
            filteringType: "local",
            filteringCondition: "contains",
            highlightMatchesMode: "contains",            
            dropDownOrientation: "bottom",
            dropDownOnFocus: true,
            enableClearButton: false,
            closeDropDownOnBlur: true,
            autoComplete: false,
            autoSelectFirstMatch: false,
            allowCustomValue: true,
            locale: {
                placeHolder: "Select Identification"
            },
            headerTemplate: "<div><input type='checkbox' class='igcombo-checkbox-toggle' id='selectAllIdentification'/> <label for='selectAllIdentification'>Select All</label></div>",
            multiSelection: {
                enabled: true,          
                showCheckboxes: true,
            },
            itemsRendered: function (evt, ui) {
                disableMandatoryItems("#sltIdentification", true);
                checkIdentificationColumnsToShow();
                ui.owner.element.find("input[type='text']").val('');
            },
            dropDownClosed: function (evt, ui) {
                ui.owner.element.find("input[type='text']").val('');
            },
            dropDownOpened: function (evt, ui) {
                if (isIdentificationChanged)
                    $("#sltIdentification").igCombo("value", selectedValuesIdentification);
                else
                    checkIdentificationColumnsToShow();

                ui.owner.element.find("input[type='text']").val('');
                disableMandatoryItems("#sltIdentification");
                ui.owner.listScrollTop(0);

                // if (ui.owner.selectedItems()) {
                //     var listHolder = ui.owner.dropDown().find(".ui-igcombo-listitemholder");
                //     var selectedElemIndex = listHolder.children().index(ui.owner.selectedItems()[0].element)
                //     var itemHeight = listHolder.height() / listHolder.children().length;
                //     ui.owner.listScrollTop(selectedElemIndex * itemHeight);
                // }
            },
            selectionChanged: function(evt, ui) {
                if (suppressIdentificationSelectionChange) {
                    evt.stopImmediatePropagation();  // stops bubbling to other handlers
                    return;                          // skip any normal selection logic
                }
                isIdentificationChanged = true;
                selectedValuesIdentification = $("#sltIdentification").igCombo("value");
                // $("#sltIdentification").igCombo("openDropDown");
                ui.owner.element.find("input[type='text']").val('');
                disableMandatoryItems("#sltIdentification");
                showHideGridColumns("#sltIdentification");
                uncheckSelectAll("#sltIdentification"); 
            },
            filtered: function (evt, ui) {
                const combo = ui.owner;
                const text = combo.text();  

                // prevent selectionChanged while we reapply
                suppressIdentificationSelectionChange = true;
                requestAnimationFrame(() => {                    
                    combo.text(text); // restore input text
                    suppressIdentificationSelectionChange = false;   // re-enable after done
                });                
            }
        });

        function checkIdentificationColumnsToShow() {
            var IdentificationColumns = IdentificationCategory.map(i => i.Title);
            var gridColumns = JSON.parse(colsToHideStr);
            var comboColumns = IdentificationColumns.filter(i => !gridColumns.includes(i));
            $("#sltIdentification").igCombo("value", comboColumns);
            if (IdentificationColumns.length === comboColumns.length)
                $("#selectAllIdentification").prop("checked", true);
        }

        // Select All for Identification
        $(document).on("change", "#selectAllIdentification", function() {
            var checked = $(this).is(":checked");
            var combo = $("#sltIdentification").data("igCombo");
            if (checked) {
                combo.selectAll();
                 
            } else {
                combo.deselectAll();
                disableMandatoryItems("#sltIdentification");
            }
            showHideGridColumns("#sltIdentification");
        });


        let selectedValuesSource = [];
        let isSourceChanged = false;
        let suppressSourceSelectionChange = false;
        //Populate Source Combobox        
        $("#sltSource").igCombo({
            dataSource: SourceCategory,
            width: "250px",
            textKey: "Title",
            valueKey: "Title",
            filteringType: "local",
            filteringCondition: "contains",
            highlightMatchesMode: "contains",
            dropDownOrientation: "bottom",
            dropDownOnFocus: true,
            enableClearButton: false,
            closeDropDownOnBlur: true,
            autoComplete: false,
            autoSelectFirstMatch: false,
            allowCustomValue: true,
            locale: {
                placeHolder: "Select Source"
            },
            headerTemplate: "<div><input type='checkbox' class='igcombo-checkbox-toggle' id='selectAllSource'/><label for='selectAllSource'>Select All</label></div>",
            multiSelection: {
                enabled: true,
                showCheckboxes: true,
            },
            itemsRendered: function (evt, ui) {
                disableMandatoryItems("#sltSource", false);
                checkSourceColumnsToShow();
                ui.owner.element.find("input[type='text']").val('');
            },
            dropDownOpened: function (evt, ui) {
                if (isSourceChanged)
                    $("#sltSource").igCombo("value", selectedValuesSource);
                else
                    checkSourceColumnsToShow();

                ui.owner.element.find("input[type='text']").val('');
                disableMandatoryItems("#sltSource");
                ui.owner.listScrollTop(0);
            },
            dropDownClosed: function (evt, ui) {
                ui.owner.element.find("input[type='text']").val('');
             },
            selectionChanged: function(evt, ui) {
                if (suppressSourceSelectionChange) {
                    evt.stopImmediatePropagation();  // stops bubbling to other handlers
                    return;                          // skip any normal selection logic
                }
                isSourceChanged = true;
                selectedValuesSource = $("#sltSource").igCombo("value");
                ui.owner.element.find("input[type='text']").val('');
                showHideGridColumns("#sltSource");
                uncheckSelectAll("#sltSource");
                includeDisabledItem("#sltSource");
            },
            filtered: function (evt, ui) {
                const combo = ui.owner;
                const text = combo.text();

                // prevent selectionChanged while we reapply
                suppressSourceSelectionChange = true;
                requestAnimationFrame(() => {
                    combo.text(text); // restore input text
                    suppressSourceSelectionChange = false;   // re-enable after done
                });
            }
        });

        // Select All for Source
        $(document).on("change", "#selectAllSource", function() {
            var checked = $(this).is(":checked");
            var combo = $("#sltSource").data("igCombo");
            if (checked) {
                combo.selectAll();
            } else {
                combo.deselectAll();
            }
            showHideGridColumns("#sltSource");
        });

        function checkSourceColumnsToShow() {
            var SourceColumns = SourceCategory.map(i => i.Title);
            var gridColumns = JSON.parse(colsToHideStr);
            var comboColumns = SourceColumns.filter(i => !gridColumns.includes(i));
            $("#sltSource").igCombo("value", comboColumns);
            if (SourceColumns.length === comboColumns.length)
                $("#selectAllSource").prop("checked", true);
        }


        let selectedValuesImpact = [];
        let isImpactChanged = false;
        let suppressImpactSelectionChange = false;
        //Populate Impact Combobox        
        $("#sltImpact").igCombo({
            dataSource: ImpactCategory,
            width: "250px",
            textKey: "Title",
            valueKey: "Title",
            filteringType: "local",
            filteringCondition: "contains",
            highlightMatchesMode: "contains",
            dropDownOrientation: "bottom",
            dropDownOnFocus: true,
            enableClearButton: false,
            closeDropDownOnBlur: true,
            autoComplete: false,
            autoSelectFirstMatch: false,
            allowCustomValue: true,
            locale: {
                placeHolder: "Select Impact"
            },
            headerTemplate: "<div><input type='checkbox' class='igcombo-checkbox-toggle' id='selectAllImpact'/><label for='selectAllImpact'>Select All</label></div>",
            multiSelection: {
                enabled: true,
                showCheckboxes: true,
            },
            itemsRendered: function (evt, ui) {
                disableMandatoryItems("#sltImpact", false);
                checkImpactColumnsToShow();
                ui.owner.element.find("input[type='text']").val('');
            },
            dropDownOpened: function (evt, ui) {
                if (isImpactChanged)
                    $("#sltImpact").igCombo("value", selectedValuesImpact);
                else
                    checkImpactColumnsToShow();

                ui.owner.element.find("input[type='text']").val('');
                disableMandatoryItems("#sltImpact");
                ui.owner.listScrollTop(0);
            },
            dropDownClosed: function (evt, ui) {
                ui.owner.element.find("input[type='text']").val('');
             },
            selectionChanged: function(evt, ui) {
                if (suppressImpactSelectionChange) {
                    evt.stopImmediatePropagation();  // stops bubbling to other handlers
                    return;                          // skip any normal selection logic
                }
                isImpactChanged = true;
                selectedValuesImpact = $("#sltImpact").igCombo("value");
                ui.owner.element.find("input[type='text']").val('');
                showHideGridColumns("#sltImpact");
                uncheckSelectAll("#sltImpact");
                includeDisabledItem("#sltImpact");
            },
            filtered: function (evt, ui) {
                const combo = ui.owner;
                const text = combo.text();

                // prevent selectionChanged while we reapply
                suppressImpactSelectionChange = true;
                requestAnimationFrame(() => {
                    combo.text(text); // restore input text
                    suppressImpactSelectionChange = false;   // re-enable after done
                });
            }
        });

        // Select All for Impact
        $(document).on("change", "#selectAllImpact", function() {
            var checked = $(this).is(":checked");
            var combo = $("#sltImpact").data("igCombo");
            if (checked) {
                combo.selectAll();
            } else {
                combo.deselectAll();
            }
            showHideGridColumns("#sltImpact");
        });

        function checkImpactColumnsToShow() {
            var ImpactColumns = ImpactCategory.map(i => i.Title);
            var gridColumns = JSON.parse(colsToHideStr);
            var comboColumns = ImpactColumns.filter(i => !gridColumns.includes(i));
            $("#sltImpact").igCombo("value", comboColumns);
            if (ImpactColumns.length === comboColumns.length)
                $("#selectAllImpact").prop("checked", true);
        }


        let selectedValuesActions = [];
        let isActionsChanged = false;
        let suppressActionsSelectionChange = false;
        //Populate Actions Combobox        
        $("#sltActions").igCombo({
            dataSource: ActionsCategory,
            width: "250px",
            textKey: "Title",
            valueKey: "Title",
            filteringType: "local",
            filteringCondition: "contains",
            highlightMatchesMode: "contains",
            dropDownOrientation: "bottom",
            dropDownOnFocus: true,
            enableClearButton: false,
            closeDropDownOnBlur: true,
            autoComplete: false,
            autoSelectFirstMatch: false,
            allowCustomValue: true,
            locale: {
                placeHolder: "Select Actions"
            },
            headerTemplate: "<div><input type='checkbox' class='igcombo-checkbox-toggle' id='selectAllActions'/> <label for='selectAllActions'>Select All</label></div>",
            multiSelection: {
                enabled: true,
                showCheckboxes: true,
            },
            itemsRendered: function (evt, ui) {
                disableMandatoryItems("#sltActions", false);
                checkActionsColumnsToShow();
                ui.owner.element.find("input[type='text']").val('');
            },
            dropDownOpened: function (evt, ui) {
                if (isActionsChanged)
                    $("#sltActions").igCombo("value", selectedValuesActions);
                else
                    checkActionsColumnsToShow();

                ui.owner.element.find("input[type='text']").val('');
                disableMandatoryItems("#sltActions");
                ui.owner.listScrollTop(0);
            },
            dropDownClosed: function (evt, ui) {
                ui.owner.element.find("input[type='text']").val('');
             },
            selectionChanged: function(evt, ui) {
                if (suppressActionsSelectionChange) {
                    evt.stopImmediatePropagation();  // stops bubbling to other handlers
                    return;                          // skip any normal selection logic
                }
                isActionsChanged = true;
                selectedValuesActions = $("#sltActions").igCombo("value");
                ui.owner.element.find("input[type='text']").val('');
                showHideGridColumns("#sltActions");
                uncheckSelectAll("#sltActions");
                includeDisabledItem("#sltActions");
            },
            filtered: function (evt, ui) {
                const combo = ui.owner;
                const text = combo.text();

                // prevent selectionChanged while we reapply
                suppressActionsSelectionChange = true;
                requestAnimationFrame(() => {
                    combo.text(text); // restore input text
                    suppressActionsSelectionChange = false;   // re-enable after done
                });
            }
        });

        // Select All for Actions
        $(document).on("change", "#selectAllActions", function() {
            var checked = $(this).is(":checked");
            var combo = $("#sltActions").data("igCombo");
            if (checked) {
                combo.selectAll();
            } else {
                combo.deselectAll();
            }
            showHideGridColumns("#sltActions");
        });

        function checkActionsColumnsToShow() {
            var ActionsColumns = ActionsCategory.map(i => i.Title);
            var gridColumns = JSON.parse(colsToHideStr);
            var comboColumns = ActionsColumns.filter(i => !gridColumns.includes(i));
            $("#sltActions").igCombo("value", comboColumns);
            if (ActionsColumns.length === comboColumns.length)
                $("#selectAllActions").prop("checked", true);
        }


        let selectedValuesControls = [];
        let isControlsChanged = false;
        let suppressControlsSelectionChange = false;
        //Populate Controls Combobox        
        $("#sltControls").igCombo({
            dataSource: ControlsCategory,
            width: "250px",
            textKey: "Title",
            valueKey: "Title",
            filteringType: "local",
            filteringCondition: "contains",
            highlightMatchesMode: "contains",
            dropDownOrientation: "bottom",
            dropDownOnFocus: true,
            enableClearButton: false,
            closeDropDownOnBlur: true,
            autoComplete: false,
            autoSelectFirstMatch: false,
            allowCustomValue: true,
            locale: {
                placeHolder: "Select Controls"
            },
            headerTemplate: "<div><input type='checkbox' class='igcombo-checkbox-toggle' id='selectAllControls'/> <label for='selectAllControls'>Select All</label></div>",
            multiSelection: {
                enabled: true,
                showCheckboxes: true,
            },
            itemsRendered: function (evt, ui) {
                disableMandatoryItems("#sltControls", false);
                checkControlsColumnsToShow();
                ui.owner.element.find("input[type='text']").val('');
            },
            dropDownOpened: function (evt, ui) {
                if (isControlsChanged)
                    $("#sltControls").igCombo("value", selectedValuesControls);
                else
                    checkControlsColumnsToShow();

                ui.owner.element.find("input[type='text']").val('');
                disableMandatoryItems("#sltControls");
                ui.owner.listScrollTop(0);
            },
            dropDownClosed: function (evt, ui) {
                ui.owner.element.find("input[type='text']").val('');
             },
            selectionChanged: function(evt, ui) {
                if (suppressControlsSelectionChange) {
                    evt.stopImmediatePropagation();  // stops bubbling to other handlers
                    return;                          // skip any normal selection logic
                }
                isControlsChanged = true;
                selectedValuesControls = $("#sltControls").igCombo("value");
                ui.owner.element.find("input[type='text']").val('');
                showHideGridColumns("#sltControls");
                uncheckSelectAll("#sltControls");
                includeDisabledItem("#sltControls");
            }
        });

        // Select All for Controls
        $(document).on("change", "#selectAllControls", function() {
            var checked = $(this).is(":checked");
            var combo = $("#sltControls").data("igCombo");
            if (checked) {
                combo.selectAll();
            } else {
                combo.deselectAll();
            }
            showHideGridColumns("#sltControls");
        });

        function checkControlsColumnsToShow() {
            var ControlsColumns = ControlsCategory.map(i => i.Title);
            var gridColumns = JSON.parse(colsToHideStr);
            var comboColumns = ControlsColumns.filter(i => !gridColumns.includes(i));
            $("#sltControls").igCombo("value", comboColumns);
            if (ControlsColumns.length === comboColumns.length)
                $("#selectAllControls").prop("checked", true);
        }


        function showHideGridColumns(containerId) {
            var grid = $("#grid");
            var $container = $(containerId);
            var selectedKeys = $container.igCombo("value");
            var selectAllCategory = mandatoryColumns;
            switch (containerId) {
                case '#sltIdentification':
                    selectAllCategory = SourceCategory.map(i => i.Title);
                    $.merge(selectAllCategory, ImpactCategory.map(i => i.Title));
                    $.merge(selectAllCategory, ActionsCategory.map(i => i.Title));
                    $.merge(selectAllCategory, ControlsCategory.map(i => i.Title));
                    break;
                case '#sltSource':
                    selectAllCategory = IdentificationCategory.filter(i => i.IsMandatory === false).map(i => i.Title);
                    $.merge(selectAllCategory, ImpactCategory.map(i => i.Title));
                    $.merge(selectAllCategory, ActionsCategory.map(i => i.Title));
                    $.merge(selectAllCategory, ControlsCategory.map(i => i.Title));
                    break;
                case '#sltImpact':
                    selectAllCategory = IdentificationCategory.filter(i => i.IsMandatory === false).map(i => i.Title);
                    $.merge(selectAllCategory, SourceCategory.map(i => i.Title));
                    $.merge(selectAllCategory, ActionsCategory.map(i => i.Title));
                    $.merge(selectAllCategory, ControlsCategory.map(i => i.Title));
                    break;
                case '#sltActions':
                    selectAllCategory = IdentificationCategory.filter(i => i.IsMandatory === false).map(i => i.Title);
                    $.merge(selectAllCategory, ImpactCategory.map(i => i.Title));
                    $.merge(selectAllCategory, SourceCategory.map(i => i.Title));
                    $.merge(selectAllCategory, ControlsCategory.map(i => i.Title));
                    break;
                case '#sltControls':
                    selectAllCategory = IdentificationCategory.filter(i => i.IsMandatory === false).map(i => i.Title);
                    $.merge(selectAllCategory, ImpactCategory.map(i => i.Title));
                    $.merge(selectAllCategory, ActionsCategory.map(i => i.Title));
                    $.merge(selectAllCategory, SourceCategory.map(i => i.Title));
                    break;
                default:
                    selectAllCategory = mandatoryColumns;
            }

            grid.igGrid("option", "columns").forEach(function (col) {
                var isSelected = selectedKeys.indexOf(col.key) !== -1;

                // Toggle visibility based on combo selection
                if (isSelected) {
                    grid.igGridHiding("showColumn", col.key);
                } else if (!isSelected) {
                    if (!mandatoryColumns.includes(col.key) && !selectAllCategory.includes(col.key))
                        grid.igGridHiding("hideColumn", col.key);
                }
            });
        }

        function disableMandatoryItems(containerId, flag) {
            var $container = $(containerId);
            var combo = $container.data("igCombo");
            var items = combo.items();

            items.forEach(function (item, index) {
                var dataItem = item.data;
                if (dataItem.IsMandatory === true) {
                    // Disable the checkbox
                    combo.dropDown().find(".ui-igcombo-listitem").eq(index).addClass("igcombo-disabled-span");
                    if (flag)
                        combo.dropDown().find(".ui-icon").eq(index)
                            .removeClass("ui-icon ui-igcombo-checkbox-off ui-igcheckbox-small-off").addClass("ui-icon ui-icon-check ui-igcombo-checkbox-on ui-igcheckbox-small-on");
                }
            });
        }

        function uncheckSelectAll(containerId) {
            var $container = $(containerId);
            var combo = $container.data("igCombo");
            var specificChild = combo.dropDown().find('.ui-igcombo-listitem span');
            if (specificChild.hasClass('ui-igcombo-checkbox-off ui-igcheckbox-small-off')) {
                switch (containerId) {
                    case '#sltIdentification':
                        $("#selectAllIdentification").prop("checked", false);
                        break;
                    case '#sltSource':
                        $("#selectAllSource").prop("checked", false);
                        break;
                    case '#sltImpact':
                        $("#selectAllImpact").prop("checked", false);
                        break;
                    case '#sltActions':
                        $("#selectAllActions").prop("checked", false);
                        break;
                    case '#sltControls':
                        $("#selectAllControls").prop("checked", false);
                        break;
                    default:
                        break;
                }
            }
            else {
                switch (containerId) {
                    case '#sltIdentification':
                        $("#selectAllIdentification").prop("checked", true);
                        break;
                    case '#sltSource':
                        $("#selectAllSource").prop("checked", true);
                        break;
                    case '#sltImpact':
                        $("#selectAllImpact").prop("checked", true);
                        break;
                    case '#sltActions':
                        $("#selectAllActions").prop("checked", true);
                        break;
                    case '#sltControls':
                        $("#selectAllControls").prop("checked", true);
                        break;
                    default:
                        break;
                }
            }
        }

        function includeDisabledItem(containerId) {
            var $container = $(containerId);
            var combo = $container.igCombo("selectedItems");            
            var comboColumns = mandatoryColumns;
            var selectedColumns = mandatoryColumns;
            var flag = false;
            if (combo != null) {
                selectedColumns = combo.filter(i => i.data.IsMandatory === false).map(i => i.data.Title);
                if (selectedColumns.length > 0)
                    flag = true;
            }

            switch (containerId) {
                case '#sltSource':                    
                    comboColumns = SourceCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                    if (flag)
                        $.merge(comboColumns, selectedColumns);
                    break;
                case '#sltImpact':
                    comboColumns = ImpactCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                    if (flag)
                        $.merge(comboColumns, selectedColumns);
                    break;
                case '#sltActions':
                    comboColumns = ActionsCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                    if (flag)
                        $.merge(comboColumns, selectedColumns);
                    break;
                case '#sltControls':
                    comboColumns = ControlsCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                    if (flag)
                        $.merge(comboColumns, selectedColumns);
                    break;
                default:
                    break;
            }
            var grid = $("#grid");
            if (selectedColumns.length > 0) {
                $container.igCombo("value", comboColumns);
                $.each(comboColumns, function(index, value) {
                    grid.igGridHiding("showColumn", value);
                });
                
            }
            else {
                $container.igCombo("deselectByValue", comboColumns);
                $.each(comboColumns, function(index, value) {
                    grid.igGridHiding("hideColumn", value);
                });
            }
            uncheckSelectAll(containerId);
        }


        $('#txtViewName').igTextEditor({
            placeHolder: "View name"
        });


        // Save View button
        $("#btnSave").on("click", function (e) {
            e.preventDefault();
            var txtviewname = $('#txtViewName').val();
            var selectedItems = $('#sltView').igCombo("selectedItems");
            var sltviewname = "";
            if (selectedItems != null)
                if (selectedItems.length > 0) 
                    sltviewname = selectedItems[0].data.ID;
                
            if (sltviewname == "Default") sltviewname = null;
            if (!sltviewname && !txtviewname) { 
                alert("Please enter or select a viewname.");
                e.preventDefault();
            }

            var columns = $("#grid").igGrid("option", "columns");
            var selectedColumns = columns.filter(i => i.hidden === false).map(i => i.headerText);
            if (!sltviewname && txtviewname) {
                if (confirm("Do you want to create a new view?")) {
                    var payload = {
                        viewname: txtviewname,
                        columns: selectedColumns
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SaveSettings", "Export")',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(payload),
                        success: function(response){
                            $('#txtViewName').igTextEditor("value", "");
                            $("#sltView").igCombo({
                                dataSource: JSON.parse(response.views),
                                textKey: "Title",
                                valueKey: "ID",
                                dataSourceType: "json"
                            });
                            $("#sltView").igCombo("dataBind");
                            $("#sltView").igCombo("value", response.newViewId);
                            alert('View saved');
                        },
                        error: function(){
                            alert('Error saving view');
                        }
                    });
                }
                else
                    e.preventDefault();
            }

            if (sltviewname && !txtviewname) {
                var data = $("#sltView").igCombo("dataForValue", sltviewname);
                if (confirm("Do you want to edit " + data.Title + " view?")) {
                    var payload = {
                        viewname: sltviewname,
                        columns: selectedColumns
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditSettings", "Export")',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(payload),
                        success: function(response){
                            alert('View updated');
                        },
                        error: function(){
                            alert('Error upadting view');
                        }
                    });
                }
                else
                    e.preventDefault();
            }

            if (sltviewname && txtviewname) {
                alert("Choose any one");
                e.preventDefault();
            }
        });


        // Delete View button
        $("#btnDelete").on("click", function (e) {
            e.preventDefault();
            var selectedItems = $('#sltView').igCombo("selectedItems");
            var viewname = "";
            if (selectedItems != null)
                if (selectedItems.length > 0)
                    viewname = selectedItems[0].data.ID;

            if (!viewname) {
                alert("Please select a viewname.");
                e.preventDefault();
            }
            else {
                var data = $("#sltView").igCombo("dataForValue", viewname);
                if (confirm("Are you sure to delete " + data.Title + " view?")) {
                    var payload = {
                        viewname: viewname,
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteSettings", "Export")',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(payload),
                        success: function(response){
                            $('#txtViewName').igTextEditor("value", "");
                            $("#sltView").igCombo({
                                dataSource: JSON.parse(response.views),
                                textKey: "Title",
                                valueKey: "ID",
                                dataSourceType: "json"
                            });
                            $("#sltView").igCombo("dataBind");
                            alert('View deleted');
                        },
                        error: function(){
                            alert('Error deleting view');
                        }
                    });
                }
                else
                    e.preventDefault();
            }
        });


        // Export To Excel
        var exportingIndicator = $('<div>');
        $("#btnExportExcel").on("click", function (e) {
            e.preventDefault();
            var exp = new $.ig.GridExcelExporter();

            exp.exportGrid($("#grid"), {
                fileName: "Risks_" + getDate(),
                gridFeatureOptions: {
                    "sorting": "applied",
                    "filtering": "applied",
                    "hiding": "visibleColumnsOnly",
                    "columnfixing": "applied",
                    // "paging": "currentPage"
                },
                exportStarting: function (e, args) {
                    showExportingIndicator(args.grid, exportingIndicator);
                },
                success: function () {
                    hideExportingIndicator(exportingIndicator);
                },                    
            });
        });

        function showExportingIndicator(grid, exportingIndicator) {
            var $gridContainer = $('#' + grid.attr('id') + '_container');

            exportingIndicator.css({
                "width": $gridContainer.outerWidth(),
                "height": $gridContainer.outerHeight()
            }).html('<span class="exporting-text">Exporting...</span>');
            exportingIndicator.addClass("exporting-indicator");

            $gridContainer.append(exportingIndicator);
        }

        function hideExportingIndicator(exportingIndicator) {
            exportingIndicator.remove();
        }

        function getDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; 
            var yyyy = today.getFullYear();

            if(dd < 10) {
                dd = '0' + dd ;
            }

            if(mm < 10) {
                mm = '0' + mm;
            }

            today = mm + '' + dd + '' + yyyy;
            return today;
        }
     });
    </script>
