@using System.Data
@using static SRMDataMigrationIgnite.Services.Repositories.DMExportViewEntitiesService
@{
    ViewData["Title"] = "Export Risks";
    var columnsJson = ViewData["Columns"];
    var dataJson = ViewData["Data"];
    var ColumnsToShow = ViewData["ColumnsToShow"] as List<string>;
    var ColumnsToHide = ViewData["ColumnsToHide"] as List<string?>;
    ColumnsToHide ??= new List<string?>();
    var ColumnsToView = ViewData["ViewEntities"];
    var IdentificationCategory = ViewData["IdentificationCategory"] as List<ViewEntityCategoryData>;
    var SourceCategory = ViewData["SourceCategory"] as List<ViewEntityCategoryData>;
    var ActionsCategory = ViewData["ActionsCategory"] as List<ViewEntityCategoryData>;
    var ControlsCategory = ViewData["ControlsCategory"] as List<ViewEntityCategoryData>;
    var ImpactCategory = ViewData["ImpactCategory"] as List<ViewEntityCategoryData>;
}

<form id="frmRiskRegisters" asp-action="Index" method="post">
    @* <div id="page-loader">
        <div class="spinner"></div>
        <div class="loading-text">Loading...</div>
    </div> *@

    <h2>Risks - Export</h2>
    <div class="parent-div">
        <div class="parent-wrapper">
        Risk Identification <br />
        <div class="custom-select-wrapper" id="sltIdentification">
            <div class="custom-select-trigger">
                <input type="text" class="filter-input-in-trigger" placeholder="Select Identification">
                <div class="ui-igcombo-button ui-state-default ui-unselectable ui-igcombo-button-ltr ui-corner-right">
                    <div class="ui-igcombo-buttonicon ui-icon-triangle-1-s ui-icon"></div>
                </div>
            </div>

            <div class="custom-select-dropdown">
                @* <input type="text" class="filter-input" placeholder="Filter items..."> *@

                <div class="select-all-container">
                    <input type="checkbox" id="select-all">
                    <label for="select-all">Select All</label>
                </div>

                <ul class="item-list">
                    @if (ColumnsToShow != null)
                    {
                        @foreach (var cat in IdentificationCategory)
                        {
                            <li data-value="@cat.Title">
                                <input type="checkbox" value="@cat.Title"
                                    @(ColumnsToShow.Contains(cat.Title) ? "checked" : "") 
                                    @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                            </li>
                        }
                    }
                    else
                    {
                        @foreach (var cat in IdentificationCategory)
                        {
                            <li data-value="@cat.Title">
                                <input type="checkbox" value="@cat.Title" checked
                                       @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        </div>

        <div class="parent-wrapper">
            Risk Actions <br />
            <div class="custom-select-wrapper" id="sltActions">
                <div class="custom-select-trigger">
                    <input type="text" class="filter-input-in-trigger" placeholder="Select Actions">
                    <div class="ui-igcombo-button ui-state-default ui-unselectable ui-igcombo-button-ltr ui-corner-right">
                        <div class="ui-igcombo-buttonicon ui-icon-triangle-1-s ui-icon"></div>
                    </div>
                </div>

                <div class="custom-select-dropdown">
                    @* <input type="text" class="filter-input" placeholder="Filter items..."> *@

                    <div class="select-all-container">
                        <input type="checkbox" id="select-all">
                        <label for="select-all">Select All</label>
                    </div>

                    <ul class="item-list">
                        @if (ColumnsToShow != null)
                        {
                            @foreach (var cat in ActionsCategory)
                            {
                                <li data-value="@cat.Title">
                                    <input type="checkbox" value="@cat.Title"
                                           @(ColumnsToShow.Contains(cat.Title) ? "checked" : "")
                                           @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                                </li>
                            }
                        }
                        else
                        {
                            @foreach (var cat in ActionsCategory)
                            {
                                <li data-value="@cat.Title">
                                    <input type="checkbox" value="@cat.Title" checked
                                           @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="parent-wrapper">
            Risk Source <br />
        <div class="custom-select-wrapper" id="sltSource">
            <div class="custom-select-trigger">
                <input type="text" class="filter-input-in-trigger" placeholder="Select Source">
                <div class="ui-igcombo-button ui-state-default ui-unselectable ui-igcombo-button-ltr ui-corner-right">
                    <div class="ui-igcombo-buttonicon ui-icon-triangle-1-s ui-icon"></div>
                </div>
            </div>

            <div class="custom-select-dropdown">
                @* <input type="text" class="filter-input" placeholder="Filter items..."> *@

                <div class="select-all-container">
                    <input type="checkbox" id="select-all">
                    <label for="select-all">Select All</label>
                </div>

                <ul class="item-list">
                    @if (ColumnsToShow != null)
                    {
                        @foreach (var cat in SourceCategory)
                        {
                            <li data-value="@cat.Title">
                                <input type="checkbox" value="@cat.Title"
                                       @(ColumnsToShow.Contains(cat.Title) ? "checked" : "")
                                       @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                            </li>
                        }
                    }
                    else
                    {
                        @foreach (var cat in SourceCategory)
                        {
                            <li data-value="@cat.Title">
                                <input type="checkbox" value="@cat.Title" checked
                                       @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        </div>

        <div class="parent-wrapper">
            Risk Impact <br />
        <div class="custom-select-wrapper" id="sltImpact">
            <div class="custom-select-trigger">
                <input type="text" class="filter-input-in-trigger" placeholder="Select Impact">
                <div class="ui-igcombo-button ui-state-default ui-unselectable ui-igcombo-button-ltr ui-corner-right">
                    <div class="ui-igcombo-buttonicon ui-icon-triangle-1-s ui-icon"></div>
                </div>
            </div>

            <div class="custom-select-dropdown">
                @* <input type="text" class="filter-input" placeholder="Filter items..."> *@

                <div class="select-all-container">
                    <input type="checkbox" id="select-all">
                    <label for="select-all">Select All</label>
                </div>

                <ul class="item-list">
                    @if (ColumnsToShow != null)
                    {
                        @foreach (var cat in ImpactCategory)
                        {
                            <li data-value="@cat.Title">
                                <input type="checkbox" value="@cat.Title"
                                       @(ColumnsToShow.Contains(cat.Title) ? "checked" : "")
                                       @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                            </li>
                        }
                    }
                    else
                    {
                        @foreach (var cat in ImpactCategory)
                        {
                            <li data-value="@cat.Title">
                                <input type="checkbox" value="@cat.Title" checked
                                       @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        </div>

        <div class="parent-wrapper">
            Risk Controls <br />
            <div class="custom-select-wrapper" id="sltControls">
                <div class="custom-select-trigger">
                    <input type="text" class="filter-input-in-trigger" placeholder="Select Controls">
                    <div class="ui-igcombo-button ui-state-default ui-unselectable ui-igcombo-button-ltr ui-corner-right">
                        <div class="ui-igcombo-buttonicon ui-icon-triangle-1-s ui-icon"></div>
                    </div>
                </div>

                <div class="custom-select-dropdown">
                    @* <input type="text" class="filter-input" placeholder="Filter items..."> *@

                    <div class="select-all-container">
                        <input type="checkbox" id="select-all">
                        <label for="select-all">Select All</label>
                    </div>

                    <ul class="item-list">
                        @if (ColumnsToShow != null)
                        {
                            @foreach (var cat in ControlsCategory)
                            {
                                <li data-value="@cat.Title">
                                    <input type="checkbox" value="@cat.Title"
                                           @(ColumnsToShow.Contains(cat.Title) ? "checked" : "")
                                           @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                                </li>
                            }
                        }
                        else
                        {
                            @foreach (var cat in ControlsCategory)
                            {
                                <li data-value="@cat.Title">
                                    <input type="checkbox" value="@cat.Title" checked
                                           @(cat.IsMandatory.ToString().ToLower().Equals("true") ? "disabled" : "")> @cat.Title
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="parent-div">
        <div id="sltView"></div>
        <input type="hidden" id="hfViewName" name="hfViewName" />
        <input id="txtViewName" type="text" name="viewname" />

        <div class="right-div">
            <button id="btnSave" class="btn-Save">Save/Edit View</button>
            <button id="btnDelete" class="btn-Save">Delete View</button>
            <button id="btnExportExcel" class="btn-Save">Export To Excel</button>
        </div>
    </div>

    <div class="grid-container">
        <table id="grid"></table>
    </div>
</form>

<style>
    /* Reset and base styles */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
        background-color: #f5f5f5;
        padding: 20px;
    }

    .content {
        max-width: 800px;
        margin: 0 auto;
        background: white;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    h2 {
        color: #333;
        margin-bottom: 30px;
        font-weight: 400;
    }

    /* Combo box container */
    .custom-combo {
        position: relative;
        width: 100%;
        max-width: 400px;
    }

    /* Input field */
    .combo-input {
        width: 100%;
        padding: 12px 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        background: white;
        cursor: text;
        outline: none;
        transition: border-color 0.2s;
    }

        .combo-input:focus {
            border-color: #007acc;
            box-shadow: 0 0 0 2px rgba(0,122,204,0.2);
        }

        .combo-input::placeholder {
            color: #999;
        }

    /* Dropdown arrow */
    .combo-arrow {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #666;
        pointer-events: none;
        transition: transform 0.2s;
    }

    .custom-combo.open .combo-arrow {
        transform: translateY(-50%) rotate(180deg);
    }

    /* Dropdown container */
    .combo-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 4px 4px;
        max-height: 300px;
        overflow-y: auto;
        z-index: 1000;
        display: none;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .custom-combo.open .combo-dropdown {
        display: block;
    }

    /* Dropdown item */
    .combo-item {
        display: flex;
        align-items: center;
        padding: 10px 16px;
        cursor: pointer;
        border-bottom: 1px solid #f0f0f0;
        transition: background-color 0.2s;
    }

        .combo-item:hover {
            background-color: #f8f9fa;
        }

        .combo-item:last-child {
            border-bottom: none;
        }

        /* Drag and drop styles */
        .combo-item.dragging {
            opacity: 0.5;
            transform: rotate(2deg);
            box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        }

        .combo-item.drag-over {
            background-color: #e3f2fd;
            border-top: 2px solid #007acc;
        }

        .combo-item.selected {
            background-color: #fff3cd;
        }

            .combo-item.selected:hover {
                background-color: #ffeaa7;
            }

    /* Checkbox styling */
    .combo-checkbox {
        width: 16px;
        height: 16px;
        margin-right: 12px;
        border: 1px solid #ccc;
        border-radius: 2px;
        background: white;
        cursor: pointer;
        position: relative;
        flex-shrink: 0;
    }

        .combo-checkbox.checked {
            background-color: #007acc;
            border-color: #007acc;
        }

            .combo-checkbox.checked::after {
                content: '✓';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 12px;
                font-weight: bold;
            }

    /* Item text */
    .combo-item-text {
        flex: 1;
        font-size: 14px;
        color: #333;
    }


    /* No results */
    .no-results {
        padding: 16px;
        text-align: center;
        color: #666;
        font-style: italic;
    }

    /* Loading state */
    .combo-loading {
        padding: 16px;
        text-align: center;
        color: #666;
    }
</style>

<script>
    let newIndex = -1;
    let draggedItemInitialIndex = -1;
    let draggedItemValue = '';
    let targetItemValue = null;
    let targetItemIndex = -1;
    let isAfterTargetItem = false;

    function initializeCustomMultiSelect($wrapperElement) {
        const $trigger = $wrapperElement.find('.custom-select-trigger');
        const $dropdown = $wrapperElement.find('.custom-select-dropdown');
        const $filterInputInTrigger = $trigger.find('.filter-input-in-trigger');
        // const $filterInput = $dropdown.find('.filter-input');
        const $selectAllCheckbox = $dropdown.find('#select-all');
        const $itemList = $dropdown.find('.item-list');


        // Toggle dropdown visibility on trigger click
        $trigger.on('click', function(event) {
            // Prevent trigger click from propagating if the click originated from the filter input
            if ($(event.target).is($filterInputInTrigger)) {
                // Only open if not already open, but don't close if already open and clicking input
                if (!$dropdown.is(':visible')) {
                    $dropdown.slideDown(150, function() {
                        $trigger.addClass('active');
                        $filterInputInTrigger.focus();
                    });
                }
                return; // Exit to prevent dropdown from closing immediately
            }

            $dropdown.slideToggle(150, function() {
                $trigger.toggleClass('active', $dropdown.is(':visible'));
                if ($dropdown.is(':visible')) {
                    $filterInputInTrigger.focus();
                } else {
                    $filterInputInTrigger.val('');
                    $itemList.find('li').show();
                    // updateSelectAllCheckbox();
                }
                updateSelectAllCheckbox($(this).closest('.custom-select-wrapper'));
            });
        });

        // Close dropdown when clicking outside
        $(document).on('click', function(event) {
            // Check if the click was outside THIS specific wrapper AND the dropdown is visible
            if (!$wrapperElement.is(event.target) && $wrapperElement.has(event.target).length === 0) {
                if ($dropdown.is(':visible')) {
                    $dropdown.slideUp(150, function() {
                        $trigger.removeClass('active');
                        $filterInputInTrigger.val('');
                        $itemList.find('li').show();
                        updateSelectAllCheckbox();
                        $trigger.focus();
                    });
                }
            }
        });

        // 1. Filtering Functionality
        $filterInputInTrigger.on('keyup', function() {
            const searchText = $(this).val().toLowerCase();
            $itemList.find('li').each(function() {
                const itemText = $(this).text().toLowerCase();
                if (itemText.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
            // updateSelectAllCheckbox($(this).closest('.custom-select-wrapper'));
        });

        // Prevent trigger's click event from firing when clicking directly on the filter input inside it
        $filterInputInTrigger.on('click', function(event) {
            // event.stopPropagation();
            $trigger.trigger('click');
        });

        // 2. Select All Checkbox Functionality
        $selectAllCheckbox.on('change', function() {
            const isChecked = $(this).is(':checked');
            $itemList.find('li:visible input[type="checkbox"]:not(:disabled)').prop('checked', isChecked);
            let selectedValue = [];
            $itemList.find('li:visible input[type="checkbox"]:not(:disabled)').each(function() {
                const itemCheckbox = $(this);
                const listItem = itemCheckbox.closest('li');
                const itemValue = listItem.data('value');
                const itemCheckedState = itemCheckbox.is(':checked');
                selectedValue.push(itemValue);
                // console.log(`Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}] Select All action: Item Value: "${itemValue}" is now ${itemCheckedState ? 'CHECKED' : 'UNCHECKED'}`);
            });
            showHideGridColumns(selectedValue, isChecked);
            updateSelectAllCheckbox($(this).closest('.custom-select-wrapper'));
            includeDisabledItem($(this).closest('.custom-select-wrapper'));
        });

        // Handle clicks on the entire list item (<li>) to toggle the checkbox
        $itemList.on('click', 'li', function(event) {
            const listItem = $(this);
            const itemCheckbox = listItem.find('input[type="checkbox"]');

            if (itemCheckbox.prop('disabled')) {
                if ($(event.target).is('input[type="checkbox"]')) {
                    event.stopPropagation();
                }
                return;
            }

            if ($(event.target).is('input[type="checkbox"]')) {
                itemCheckbox.trigger('change');                
                return;
            }

            const newState = !itemCheckbox.is(':checked');
            itemCheckbox.prop('checked', newState);
            itemCheckbox.trigger('change');

            const itemValue = listItem.data('value');
            showHideGridColumns(itemValue, newState)
            // console.log(`Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}] List item click: Item Value: "${itemValue}" is now ${newState ? 'CHECKED' : 'UNCHECKED'}`);

            includeDisabledItem($(this).closest('.custom-select-wrapper'));
        });

        $itemList.on('change', 'input[type="checkbox"]', function() {
            if ($(this).prop('disabled')) return;
            let isChecked = $(this).prop('checked');
            let itemValue = $(this).val();
            showHideGridColumns(itemValue, isChecked)
            includeDisabledItem($(this).closest('.custom-select-wrapper'));
            updateSelectAllCheckbox($(this).closest('.custom-select-wrapper'));
        });

        // updateSelectAllCheckbox();

        // 3. Drag and Drop Functionality (using jQuery UI Sortable)
        let sortableOptions = {
            axis: 'y',
            containment: false,
            cursor: 'grab',
            start: function(event, ui) {
                const draggedItem = ui.item;
                draggedItemValue = draggedItem.data('value');
                draggedItemInitialIndex = draggedItem.index();
                // console.log(`Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}] DRAG START: Item "${draggedItemValue}" (initial index: ${draggedItemInitialIndex})`);
            },
            stop: function(event, ui) {
                newIndex = ui.item.index();
                // console.log(`Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}] DRAG STOP: Item "${draggedItemValue}" moved from index ${draggedItemInitialIndex} to index ${newIndex}`);

                // let targetItemValue = null;
                // let targetItemIndex = -1;

                if (newIndex > 0) {
                    const $prevItem = $itemList.find('li').eq(newIndex - 1);
                    targetItemValue = $prevItem.data('value');
                    targetItemIndex = newIndex - 1;
                    isAfterTargetItem = true;
                    // console.log(`Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}] Dropped BELOW target item: "${targetItemValue}" (index: ${targetItemIndex})`);
                } else {
                    if ($itemList.find('li').length > 1) {
                        const $nextItem = $itemList.find('li').eq(newIndex + 1);
                        targetItemValue = $nextItem.data('value');
                        targetItemIndex = newIndex + 1;
                        isAfterTargetItem = false;
                        // console.log(`Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}] Dropped ABOVE target item: "${targetItemValue}" (index: ${targetItemIndex})`);
                    } 
                    // else {
                    //     console.log(`Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}] Dropped at the top of an empty or single-item list.`);
                    // }
                }
                if (draggedItemInitialIndex != newIndex)
                    moveGridColumns(draggedItemValue, targetItemValue, isAfterTargetItem);
                // console.log(`Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}] Source Item Value: "${draggedItemValue}", Target Item Value (dropped next to): "${targetItemValue}"`);

                draggedItemInitialIndex = -1;
                draggedItemValue = '';
            },
            // update: function(event, ui) {
            //     console.log(`--- Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}] FINAL ORDER (from update event) ---`);
            //     $(this).find('li').each(function(index) {
            //         const itemValue = $(this).data('value');
            //         console.log(`- Value: "${itemValue}" is now at index: ${index}`);
            //     });
            //     const newOrder = $(this).sortable('toArray', { attribute: 'data-value' });
            //     console.log(`New order by data-value for Dropdown [${$wrapperElement.attr('id') || $trigger.find('span').text()}]:`, newOrder);
            // }
        }
        
        // if ($wrapperElement.attr('id') === 'sltIdentification') {
        //     // Exclude the first list item from being sortable
        //     sortableOptions.items = 'li:gt(1)';
        // }

        $itemList.sortable(sortableOptions).disableSelection();
    }

    var IdentificationCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(IdentificationCategory));
    var SourceCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(SourceCategory));
    var ImpactCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ImpactCategory));
    var ActionsCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ActionsCategory));
    var ControlsCategory = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ControlsCategory));
    var mandatoryColumns = IdentificationCategory.filter(i => i.IsMandatory === true).map(i => i.Title); 

    function includeDisabledItem($container) {
        var containerId = $container.attr('id');
        var selectedColumns = getSelectedItems(containerId);
        var comboColumns = mandatoryColumns;
        var mandatoryColumns = [];
        var flag = true;
        switch (containerId) {
            case 'sltSource':
                mandatoryColumns = SourceCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                break;
            case 'sltImpact':
                mandatoryColumns = ImpactCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                break;
            case 'sltActions':
                mandatoryColumns = ActionsCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                break;
            case 'sltControls':
                mandatoryColumns = ControlsCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                break;
            default:
                break;
        }

        if (JSON.stringify(mandatoryColumns) === JSON.stringify(selectedColumns)) flag = false;

        switch (containerId) {
            case 'sltSource':
                comboColumns = SourceCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                if (flag)
                    $.merge(comboColumns, selectedColumns);
                break;
            case 'sltImpact':
                comboColumns = ImpactCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                if (flag)
                    $.merge(comboColumns, selectedColumns);
                break;
            case 'sltActions':
                comboColumns = ActionsCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                if (flag)
                    $.merge(comboColumns, selectedColumns);
                break;
            case 'sltControls':
                comboColumns = ControlsCategory.filter(i => i.IsMandatory === true).map(i => i.Title);
                if (flag)
                    $.merge(comboColumns, selectedColumns);
                break;
            default:
                break;
        }
        var grid = $("#grid");
        if (flag) {
            setItemsSelected(containerId, comboColumns);
            $.each(comboColumns, function(index, value) {
                grid.igGridHiding("showColumn", value);
            });

        }
        else {
            setItemsDeselected(containerId, comboColumns);
            $.each(comboColumns, function(index, value) {
                grid.igGridHiding("hideColumn", value);
            });
        }
        updateSelectAllCheckbox($container);
    }

    function showHideGridColumns(columnName, state) {
        var grid = $("#grid");
        var gridColumns = $("#grid").igGrid("option", "columns");
        var newColumnState = !state;
       
        if (jQuery.isArray(columnName)) {
            columnName.forEach(function (cn) {
                var col = gridColumns.find(c => c.key === cn);
                if (col) {
                    col.hidden = newColumnState;
                }
            });
            // fixGridColumns(gridColumns);
            $("#grid").igGrid("option", "columns", gridColumns);

            // grid.igGridHiding("showMultiColumns", columnName);
            // grid.igGridHiding("hideMultiColumns", columnName);
        }
        else {
            if (state)
                grid.igGridHiding("showColumn", columnName);
            else
                grid.igGridHiding("hideColumn", columnName);
        }  
    }

    function moveGridColumns(sourceColumn, targetColumn, isAfterTarget) {
        var grid = $("#grid");
        grid.igGrid("moveColumn", sourceColumn, targetColumn, isAfterTarget, true);
    }

    function fixGridColumns(gridColumns) {
        var gridShownColumns = gridColumns.filter(c => !c.hidden).map(c => c.key);
        if (gridShownColumns.includes("Project"))
            $("#grid").igGridColumnFixing("fixColumn", "Project");
        else
            $("#grid").igGridColumnFixing("unfixColumn", "Project");

        if (gridShownColumns.includes("Title"))
            $("#grid").igGridColumnFixing("fixColumn", "Title");
        else
            $("#grid").igGridColumnFixing("unfixColumn", "Title");
    }

    function updateSelectAllCheckbox($container) {
        if ($container != null) {
            const $selectAllCheckbox = $container.find('#select-all');
            // const $filterInputInTrigger = $container.find('.filter-input-in-trigger');
            const $itemList = $container.find('.item-list');
            const totalSelectableVisibleCheckboxes = $itemList.find('li:visible input[type="checkbox"]:not(:disabled)').length;
            const checkedSelectableVisibleCheckboxes = $itemList.find('li:visible input[type="checkbox"]:checked:not(:disabled)').length;

            if (totalSelectableVisibleCheckboxes === 0) {
                $selectAllCheckbox.prop('checked', false).prop('indeterminate', false);
            } else if (checkedSelectableVisibleCheckboxes === 0) {
                $selectAllCheckbox.prop('checked', false).prop('indeterminate', false);
            } else if (checkedSelectableVisibleCheckboxes === totalSelectableVisibleCheckboxes) {
                $selectAllCheckbox.prop('checked', true).prop('indeterminate', false);
            } else {
                $selectAllCheckbox.prop('checked', false).prop('indeterminate', true);
            }
        }
    }

    function getSelectedItems(containerId) {
        const $container = $('#' + containerId);
        if ($container.length === 0) {
            console.warn(`Container with ID "${containerId}" not found for getSelectedItems.`);
            return []; // Return empty array if container doesn't exist
        }

        const selectedValues = [];
        // Find all checkboxes within this specific container's item-list that are checked
        $container.find('.item-list input[type="checkbox"]:checked').each(function() {
            // The value attribute of the checkbox is the item's value
            selectedValues.push($(this).val());
        });
        return selectedValues;
    }

    function setItemsSelected(containerId, selectedValuesArray) {
        const $container = $('#' + containerId);
        if ($container.length === 0) {
            console.warn(`Container with ID "${containerId}" not found for setItemsSelected.`);
            return;
        }
        const $itemList = $container.find('.item-list');
        if ($itemList.length === 0) {
            console.warn(`Item list not found within container ID "${containerId}".`);
            return;
        }

        const valuesToSelect = new Set(selectedValuesArray);

        $itemList.find('li').each(function() {
            const listItem = $(this);
            const itemCheckbox = listItem.find('input[type="checkbox"]');
            const itemValue = listItem.data('value');

            // if (itemCheckbox.prop('disabled')) {
            //     return;
            // }

            const shouldBeChecked = valuesToSelect.has(itemValue);

            if (shouldBeChecked && !itemCheckbox.is(':checked')) {
                itemCheckbox.prop('checked', true).trigger('change');
            }
            // else if (!shouldBeChecked && itemCheckbox.is(':checked')) {
            //     itemCheckbox.prop('checked', false).trigger('change');
            // }
        });

        // We need to update the specific container's state
        updateSelectAllCheckbox($container); // New helper function needed
    }

    function setItemsDeselected(containerId, valuesToDeselectArray) {
        const $container = $('#' + containerId);
        if ($container.length === 0) {
            console.warn(`Container with ID "${containerId}" not found for setItemsDeselected.`);
            return;
        }
        const $itemList = $container.find('.item-list');
        if ($itemList.length === 0) {
            console.warn(`Item list not found within container ID "${containerId}".`);
            return;
        }

        const valuesSetToDeselect = new Set(valuesToDeselectArray);

        $itemList.find('li').each(function() {
            const listItem = $(this);
            const itemCheckbox = listItem.find('input[type="checkbox"]');
            const itemValue = listItem.data('value');

            // if (itemCheckbox.prop('disabled')) {
            //     return;
            // }

            const shouldBeDeselected = valuesSetToDeselect.has(itemValue);

            if (shouldBeDeselected && itemCheckbox.is(':checked')) {
                itemCheckbox.prop('checked', false).trigger('change');
            }
        });

        // We need to update the specific container's state
        updateSelectAllCheckbox($container); // New helper function needed
    }

    function reorderItem(containerId, itemValueToMove, targetItemValue, isAfter) {
        const $container = $('#' + containerId);
        if ($container.length === 0) {
            // console.warn(`Container with ID "${containerId}" not found for reorderItem.`);
            return;
        }
        const $itemList = $container.find('.item-list');
        const $itemToMove = $itemList.find(`li[data-value="${itemValueToMove}"]`);
        const $targetItem = $itemList.find(`li[data-value="${targetItemValue}"]`);

        if ($itemToMove.length === 0) {
            // console.warn(`Item with value "${itemValueToMove}" not found in container "${containerId}".`);
            return;
        }
        if ($targetItem.length === 0) {
            // console.warn(`Target item with value "${targetItemValue}" not found in container "${containerId}".`);
            return;
        }

        if ($itemToMove[0] === $targetItem[0]) {
            // console.log(`Item "${itemValueToMove}" is the target item. No reorder needed.`);
            return;
        }

        if (isAfter) {
            $targetItem.after($itemToMove);
            // console.log(`Reordered "${itemValueToMove}" after "${targetItemValue}" in "${containerId}".`);
        } else {
            $targetItem.before($itemToMove);
            // console.log(`Reordered "${itemValueToMove}" before "${targetItemValue}" in "${containerId}".`);
        }
    }

    $(document).ready(function() {
        var ColumnsToShowInDropdown = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ColumnsToShow));
        var ColumnsToViewInDropdown = @Html.Raw(ColumnsToView);
        var colsToHideStr = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ColumnsToHide));               

        //Populate View Dropdown
        $("#sltView").igCombo({
            dataSource: ColumnsToViewInDropdown,
            width: "280px",
            textKey: "Title",
            valueKey: "ID",
            filteringType: "local",
            filteringCondition: "contains",
            highlightMatchesMode: "contains",
            dropDownOrientation: "bottom",
            dropDownOnFocus: true,
            locale: {
                placeHolder: "Select View"
            },
            selectionChanged: function(evt, ui) {
                var viewname = ui.owner.value();

                if (viewname != "") {
                    $("#hfViewName").val(viewname);
                    $("#frmRiskRegisters").submit();
                }
            }
        });

        var selected = '@ViewData["ViewName"]';
        if (selected) {
            $("#sltView").igCombo("value", selected);
        }


        //Populate Grid
        var columns = @Html.Raw(columnsJson);
        var data = @Html.Raw(dataJson);
        let targetColumnKey = '';
        $("#grid").igGrid({
            width: "100%",
            height: "500px",
            autoGenerateColumns: false,
            columns: columns,
            dataSource: data,
            defaultColumnWidth : 200,
            fixedHeaders: true,
            scrollSettings: {
                smoothing: true,
            },
            features: [
                { name: "Sorting", type: "local" },
                { name: "Filtering", type: "local" },
                { name: "Paging", type: "local", pageSize: 50, pageSizeList: [50, 75, 100, 150, 200, "All"] },
                { name: "ColumnMoving",
                    columnMoving: function(evt, args) {
                        let cols = $("#grid").igGrid("option", "columns");
                        let columnCategory = columns.filter(c => c.key === args.columnKey).map(c => c.category);
                        let minIndex = 0, maxIndex = 0, minVisibleIndex = 0, maxVisibleIndex = 0;
                        let containerId = "";
                        switch (columnCategory[0]) {
                            case 'Risk Identification':
                                containerId = 'sltIdentification';
                                minIndex = 0;
                                maxIndex = cols.filter(c => c.category === 'Risk Identification').length - 1;
                                minVisibleIndex = 0;
                                maxVisibleIndex = cols.filter(c => c.category === 'Risk Identification' && c.hidden === false).length - 1;
                                break;
                            case 'Risk Source':
                                containerId = 'sltSource';
                                break;
                            case 'Risk Impact':
                                containerId = 'sltImpact';
                                break;
                            case 'Risk Actions':
                                containerId = 'sltActions';
                                break;
                            case 'Risk Controls':
                                containerId = 'sltControls';
                                break;
                            default:
                                break;
                        }

                        if((args.targetIndex >= minVisibleIndex && args.targetIndex <= maxVisibleIndex)  && containerId == 'sltIdentification') {                            
                            targetColumnKey = cols.filter(c => c.category === 'Risk Identification' && c.hidden === false)[args.targetIndex].key;
                            // console.log(`targetItemIndex is ${args.targetIndex} - ${targetColumnKey}`);
                            return true;
                        }
                        else
                            return false;
                    },
                    columnMoved: function(evt, args) {
                        let columnCategory = columns.filter(c => c.key === args.columnKey).map(c => c.category);
                        let containerId = "";
                        switch (columnCategory[0]) {
                            case 'Risk Identification':
                                containerId = 'sltIdentification';                                
                                break;
                            case 'Risk Source':
                                containerId = 'sltSource';
                                break;
                            case 'Risk Impact':
                                containerId = 'sltImpact';
                                break;
                            case 'Risk Actions':
                                containerId = 'sltActions';
                                break;
                            case 'Risk Controls':
                                containerId = 'sltControls';
                                break;
                            default:
                                break;
                        }

                        let isAfter = true;
                        if ((args.newIndex - args.oldIndex) < 0) isAfter = false;
                        reorderItem(containerId, args.columnKey, targetColumnKey, isAfter);
                    }
                },
                { name: "Resizing", allowDoubleClickToResize: true },
                { name: "Hiding" },
                { name: "ColumnFixing" }
                //     columnSettings: [
                //     { columnKey: "Project", isFixed: true },
                //     { columnKey: "Title", isFixed: true }
                // ]}
            ]
        });


        // Initialize all dropdowns on the page
        $('.custom-select-wrapper').each(function() {
            initializeCustomMultiSelect($(this));
        });


        $('#txtViewName').igTextEditor({
            placeHolder: "View name"
        });


        // Save View button
        $("#btnSave").on("click", function (e) {
            e.preventDefault();
            var txtviewname = $('#txtViewName').val();
            var selectedItems = $('#sltView').igCombo("selectedItems");
            var sltviewname = "";
            if (selectedItems != null)
                if (selectedItems.length > 0)
                    sltviewname = selectedItems[0].data.ID;

            if (sltviewname == "Default") sltviewname = null;
            if (!sltviewname && !txtviewname) {
                alert("Please enter or select a viewname.");
                e.preventDefault();
            }

            var columns = $("#grid").igGrid("option", "columns");
            var selectedColumns = columns.filter(i => i.hidden === false).map(i => i.headerText);
            if (!sltviewname && txtviewname) {
                if (confirm("Do you want to create a new view?")) {
                    var payload = {
                        viewname: txtviewname,
                        columns: selectedColumns
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("SaveSettings", "Export")',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(payload),
                        success: function(response){
                            $('#txtViewName').igTextEditor("value", "");
                            $("#sltView").igCombo({
                                dataSource: JSON.parse(response.views),
                                textKey: "Title",
                                valueKey: "ID",
                                dataSourceType: "json"
                            });
                            $("#sltView").igCombo("dataBind");
                            $("#sltView").igCombo("value", response.newViewId);
                            alert('View saved');
                        },
                        error: function(){
                            alert('Error saving view');
                        }
                    });
                }
                else
                    e.preventDefault();
            }

            if (sltviewname && !txtviewname) {
                var data = $("#sltView").igCombo("dataForValue", sltviewname);
                if (confirm("Do you want to edit " + data.Title + " view?")) {
                    var payload = {
                        viewname: sltviewname,
                        columns: selectedColumns
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditSettings", "Export")',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(payload),
                        success: function(response){
                            alert('View updated');
                        },
                        error: function(){
                            alert('Error upadting view');
                        }
                    });
                }
                else
                    e.preventDefault();
            }

            if (sltviewname && txtviewname) {
                alert("Choose any one");
                e.preventDefault();
            }
        });


        // Delete View button
        $("#btnDelete").on("click", function (e) {
            e.preventDefault();
            var selectedItems = $('#sltView').igCombo("selectedItems");
            var viewname = "";
            if (selectedItems != null)
                if (selectedItems.length > 0)
                    viewname = selectedItems[0].data.ID;

            if (!viewname) {
                alert("Please select a viewname.");
                e.preventDefault();
            }
            else {
                var data = $("#sltView").igCombo("dataForValue", viewname);
                if (confirm("Are you sure to delete " + data.Title + " view?")) {
                    var payload = {
                        viewname: viewname,
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteSettings", "Export")',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(payload),
                        success: function(response){
                            $('#txtViewName').igTextEditor("value", "");
                            $("#sltView").igCombo({
                                dataSource: JSON.parse(response.views),
                                textKey: "Title",
                                valueKey: "ID",
                                dataSourceType: "json"
                            });
                            $("#sltView").igCombo("dataBind");
                            alert('View deleted');
                        },
                        error: function(){
                            alert('Error deleting view');
                        }
                    });
                }
                else
                    e.preventDefault();
            }
        });


        // Export To Excel
        var exportingIndicator = $('<div>');
        $("#btnExportExcel").on("click", function (e) {
            e.preventDefault();
            var exp = new $.ig.GridExcelExporter();

            exp.exportGrid($("#grid"), {
                fileName: "Risks_" + getDate(),
                gridFeatureOptions: {
                    "sorting": "applied",
                    "filtering": "applied",
                    "hiding": "visibleColumnsOnly",
                    "columnfixing": "applied",
                    // "paging": "currentPage"
                },
                exportStarting: function (e, args) {
                    showExportingIndicator(args.grid, exportingIndicator);
                },
                success: function () {
                    hideExportingIndicator(exportingIndicator);
                },
            });
        });

        function showExportingIndicator(grid, exportingIndicator) {
            var $gridContainer = $('#' + grid.attr('id') + '_container');

            exportingIndicator.css({
                "width": $gridContainer.outerWidth(),
                "height": $gridContainer.outerHeight()
            }).html('<span class="exporting-text">Exporting...</span>');
            exportingIndicator.addClass("exporting-indicator");

            $gridContainer.append(exportingIndicator);
        }

        function hideExportingIndicator(exportingIndicator) {
            exportingIndicator.remove();
        }

        function getDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();

            if(dd < 10) {
                dd = '0' + dd ;
            }

            if(mm < 10) {
                mm = '0' + mm;
            }

            today = mm + '' + dd + '' + yyyy;
            return today;
        }
     });
</script>
